@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:host {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 100svh;
  background-color: #242424;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

span {
  color: #46ffbe;
  font-size: clamp(1.5rem, 10vw, 9rem);
}

input {
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: clamp(3rem, 12vw, 12rem);
  text-align: center;
  border: none;
  color: #46ffbe;
  background-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
    border: none;
  }
}

button {
  border: 1px solid #fff;
  background-color: #242424;
}

.contagem-regressiva {
  width: 100%;
  text-align: center;
  font-size: clamp(6rem, 12vw, 18rem);
}

.fim-tempo {
  background-color: #46ffbe;
  span {
    color: #242424;
  }
}
